/* color palette 
https://www.color-hex.com/color-palette/1010756 */

/* font imports */
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
/* font-family: 'Dosis', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');
/* font-family: 'Dosis', sans-serif;
font-weight: 700; */

/* howey recommended styling reset*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Dosis', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.questionContainer {
    background-color: yellow;
    display: flex;
    justify-content: center;    
    align-items: center;
    /* flex-direction: column; */
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
}

.answerBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* styles that will be added by the DOM */
.hide {
    display: none;
}

.correct {
    background-color: green;
}

.wrong {
    background-color: red;
}

.disableClick {
    pointer-events: none;
}