/* color palette 
https://colorswall.com/palette/15701/ */

/* font imports */
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
/* font-family: 'Dosis', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');
/* font-family: 'Dosis', sans-serif;
font-weight: 700; */

/* howey recommended styling reset*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Dosis', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #2e4744;
    background-image: url(images/castelo\ vetor222.png);
    background-size: 900px;
    background-position: 100% 0px;
    background-repeat: no-repeat;
    animation: animate-background linear 12s infinite;
}

/* start page styling */
.startPage {
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

@keyframes animate-background {
    from {background-position: 30% 90px;}
    to { background-position: 0px -100px;}
}

.gameTitle {
    font-size: 100px;
    color: #d4b5a9;
    display: flex;
    justify-content: center;
    align-items:center;
    text-shadow: 2px 3px 5px black;
}

.startBtn {
    font-size: 40px;
    padding: 7px 50px;
    border-radius: 8px;
    background-color: #a06468;
    color: #d4b5a9;
    cursor: pointer;
    transition: all 0.4s ease-out;
    border-style: none;
}

.startBtn:hover {
    background-color:#d4b5a9;
    color: #a06468;
  }

.howlMovingCastle {
font-size: 20px;
padding: 7px 30px;
border-radius: 8px;
margin: 10px;
background-color: #a06468;
color: #d4b5a9;
cursor: pointer;
transition: all 0.4s ease-out;
border-style: none;
}

.howlMovingCastle:hover {
background-color:#d4b5a9;
color: #a06468;
}

/* modal styling */
.modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
	width: 600px;
    max-width: 100%;
    height: 300px;
    max-height: 100%;
    border-radius: 8px;
}

.openModal {
    font-size: 15px;
    padding: 7px 30px;
    border-radius: 8px;
    margin: 15px;
    margin-top:50px;
    background-color: #a06468;
    color: #d4b5a9;
    cursor: pointer;
    transition: all 0.4s ease-out;
    border-style: none;
}

.openModal:hover {
    background-color:#d4b5a9;
    color: #a06468;
  }

.modal-textbox {
	background-color: white;
	height: 300px;
	width: 600px;
	border-radius: 5px;
    display: flex;
    background-color: #046684;
    color: #d4b5a9;
}

.modalText h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.modalText p {
    font-size: 18px;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.modalClose {
 position: absolute;
 z-index: 1;
 top: 10px; 
 right: 15px;
 background-color: #a06468;
 color: #d4b5a9;
 padding: 3px 5px;
 text-decoration: none;
 border-radius: 3px;
}

.modalClose:hover {
    background-color:#d4b5a9;
    color: #a06468;
  }

/* game page styling */
.questionContainer {
    background-color: #d4b5a9;
    padding:  60px 60px 40px 60px;
    display: flex;
    justify-content: center;    
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    margin-top: 10px;
}

/* question portion */
.question {
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

/* answer portion */
.answerBtn {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    border-style: none;
    font-size: 15px;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.answerBtn:hover {
    background-color: #2e4744;
    color: #d4b5a9;
}

.allAnswerBtn {
    width: 100%;
}

/* next button */
.nextBtn {
    padding: 5px 20px;
    font-size: 15px;
    margin-top: 20px;
    border-style: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.nextBtn:hover{
    background-color: #a06468;
    color: white;
}

/* end page styling */
.endPage {
    background-color: #d4b5a9;
    font-size: 40px;
    padding: 40px;
    display: flex;
    justify-content: center;    
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.restartGameBtn {
    font-size: 20px;
    padding: 7px 150px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: #a06468;
    color: #d4b5a9;
    cursor: pointer;
    transition: all 0.4s ease-out;
    border-style: none;
}

.restartGameBtn:hover{
    background-color:#d4b5a9;
    color: #a06468;
}

/* scorecard and timer */
.controls {
    position: relative;
}
.timer {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 25px;
    background-color:#d4b5a9;
    padding: 5px 20px;
    border-radius: 5px;
}

.totalScore{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 25px;
    background-color:#d4b5a9;
    padding: 5px 20px;
    border-radius: 5px;
}

/* styles that will be added by the DOM */
.hide {
    display: none;
}

.correct {
    background-color: #74cc66;
}

.wrong {
    background-color: #CC6666;
}
